root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csx}]
indent_style = space
indent_size = 4

dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
dotnet_style_require_accessibility_modifiers = always:warning

csharp_prefer_braces = true:warning
csharp_preserve_single_line_blocks = false
csharp_preserve_single_line_statements = false
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_prefer_method_group_conversion = true:suggestion
csharp_style_prefer_top_level_statements = false:silent

dotnet_diagnostic.IDE0055.severity = warning

[*.{csproj,props,targets,sln}]
indent_style = space
indent_size = 2

[*.sln]
indent_style = tab

[*.{yml,yaml,json,md}]
indent_style = space
indent_size = 2
